* {
  box-sizing: border-box;
}
html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}
#app {
  height: 100%;
  width: 100%;
}
.welcome {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(255, 212, 245);
  background: linear-gradient(
    151deg,
    rgba(255, 212, 245, 1) 0%,
    rgba(255, 233, 233, 1) 50%,
    rgba(210, 100, 249, 1) 100%
  );
  color: #222;
  padding: 30px;
  width: 100vw;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    text-align: center;
  }
}
.main_link {
  margin-top: 150px;
  display: block;
}
a {
  color: rgb(128, 7, 165);
  text-decoration: none;
  &:hover {
    color: rgb(56, 26, 56);
    font-weight: bold;
  }
}
.logo {
  width: 300px;
}
